<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
		<title></title>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/map.css" />
	</head>
	<body>
		<div class="index">
			<div class="banner">
				<img src="../../image/banner.jpg" alt="bloodborn" />
			</div>
			<div class="index-main">
				<div class="index-nav">
					<ul>
						<li>
							<a href="../../views/main.html">剧情赏析</a>
						</li>
						<li>
							<a href="../pagination/map.html">地图解析</a>
						</li>
						<li>
							<a href="../pagination/monster.html">怪物图鉴</a>
						</li>
						<li>
							<a href="../pagination/weapon.html">武器图鉴</a>
						</li>
					</ul>
					<div class="index-map">
						<div class="total-map">
							<h1>总流程地图</h1>
							<img src="../../image/map/1-total-map.jpg" alt="map" />
						</div>
						<div class="part-area">
							<h1>各区域地图</h1>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/2-yananzhongxin.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/3-jiuyanan01.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/4-jiuyanan02.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/5-jiaotangbingfang.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/6zhiyujiaohui.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/7-hengweite.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/8-haibogen.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/9-jinjisenlin.jpg" alt="map" />
							</a>
							<a href="javascript:void(0)" class="map-info">
								<span class="masking-img"></span>
								<img src="../../image/map/10-bailunweisi.jpg" alt="map" />
							</a>
							<div class="map-specific-info">
								<img src="" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/map.js"></script>
	</body>
</html>
