<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/monster.css" />
	</head>
	<body>
		<div class="index">
			<div class="banner">
				<img src="../../image/banner.jpg" alt="bloodborn" />
			</div>
			<div class="index-main">
				<div class="index-nav">
					<ul>
						<li>
							<a href="../../views/main.html">剧情赏析</a>
						</li>
						<li>
							<a href="../pagination/map.html">地图解析</a>
						</li>
						<li>
							<a href="../pagination/monster.html">怪物图鉴</a>
						</li>
						<li>
							<a href="../pagination/weapon.html">武器图鉴</a>
						</li>
					</ul>
				</div>
				<div class="index-monster">
					<h1>怪物图鉴</h1>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/1-zaie.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/1-1.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/2-zhaoya.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/2-2.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">
							<img src="../../image/monster/3-guizishou.jpg" alt="map" />									
						</div>
						<div class="right"><img src="../../image/monster/3-3.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/4-shirenyezhu.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/4-4.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/5-jiaohuijuren.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/5-5.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/6-xinaozhe.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/6-6.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/7-kuangren.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/7-7.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/8-shouhunfuti.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/8-8.jpg" alt="" /></div>
					</div>
					<div class="monster-info">
						<div class="before">									
							<img src="../../image/monster/9-bangfei.jpg" alt="map" />
						</div>
						<div class="right"><img src="../../image/monster/9-9.jpg" alt="" /></div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/monster.js"></script>
	</body>
</html>
