<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
		<title>Bloodborne</title> 
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/public.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>

	<body>
		<div class='index'>
			<div class="banner">
				<img src="../image/banner.jpg" alt="bloodborn" />
			</div>
			<div class='index-main'>
				<div class="instruction">
					<span>《血源诅咒》是由FromSoftware开发的一款ARPG(动作角色扮演），于2015年3月24日在日本发行。索尼电脑娱乐Japan Studio与FromSoftware合作开发，于2015年3月24日正式推出的PS4平台独占游戏《血源诅咒》Bloodborne，继承From Software出品游戏一向的黑暗风格，成为一款无情恐怖的全新原创动作角色扮演游戏。</span>
				</div>
				<div class='index-sowing-img'>
					<a class="sowing-left"><i class="iconfont"></i></a>
					<a class="sowing-right"><i class="iconfont"></i></a>
						<ul class='sowing-ul .sowing-start'>
							<li><img src="../image/sowing/bloodborne05.jpg" alt="bloodborne" /></li>
							<li><img src="../image/sowing/bloodborne01.jpg" alt="bloodborne" /></li>
							<li><img src="../image/sowing/bloodborne02.jpg" alt="bloodborne" /></li>
							<li><img src="../image/sowing/bloodborne03.jpg" alt="bloodborne" /></li>
							<li><img src="../image/sowing/bloodborne04.jpg" alt="bloodborne" /></li>
							<li><img src="../image/sowing/bloodborne05.jpg" alt="bloodborne" /></li>
						</ul>	
				</div>
				<div class="index-nav">
					<ul>
						<li>
							<a href="../views/main.html">剧情赏析</a>
						</li>
						<li>
							<a href="pagination/map.html">地图解析</a>
						</li>
						<li>
							<a href="pagination/monster.html">怪物图鉴</a>
						</li>
						<li>
							<a href="../pagination/weapon.html">武器图鉴</a>
						</li>
					</ul>
				</div>
				<div class="index-story">
					<div class="index-story-chapters">
						<div class="index-story-nav">
							<a href="javascript:void(0)" class="index-story-title"><span class="listTitle">第一章：畏惧古神之血</span><i class="iconfont"></i></a>
							<div class="index-story-titleList">
								<span class="chapterList">第一章：畏惧古神之血</span>
								<span class="chapterList">第二章：苍白之血</span>
								<span class="chapterList">第三章：诅咒你们，直到子孙的子孙</span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
								<span class="chapterList"></span>
							</div>
						</div>
						<div class="index-story-article ">
							<span class="index-story-chapter ">
							<img src="../image/story/01.jpg" alt="bloodborn" />
							<h2 class='theTitle'>第一章：畏惧古神之血</h2>
							<p>亚楠这座小城坐落在偏僻的海边，偏僻到连亚楠人自己都忘记了这个地方从何源起，有关于这座小城的历史文献，只保存在小镇唯一的学术机构--拜尔金沃斯学院。</p>
							<p>亚楠所处的地理位置，原是名为“苏美尔文明”的古国中心，但苏美尔文明早已经消失在历史中，除了偶尔发掘出的苏美尔时代古墓能够昭示这座城市曾经的辉煌以外，亚楠只不过是一座没有人记得的小城。</p>
							<p>在研究中，拜尔金沃斯的学者们发现了这座小镇下方的巨量的苏美尔古墓，这些古墓里记录着一些只言片语的奇异知识，“上位者”、“古神”、“兽灾”、“眼睛”、“超越思考”等现代人难以理解的内容似乎描述着一种古代苏美尔人与被称为“神”的异域生命共同生存的文明面貌，而最终苏美尔文明似乎也因为某种神秘力量突然被消灭。</p>
							<p> 这勾起了拜尔金沃斯学者的巨大兴趣，在拜尔金沃斯学院陡然掀起了研究苏美尔文明的热潮。
	</p>
							<p> 拜尔金沃斯学院组织了一批学者对亚楠地下存在的苏美尔古墓群展开了大规模的探索，这支考古队伍的首领则是拜尔金沃斯学院院长威廉。学者们在迷宫般的古墓群中遭遇了巨大的鼠群、毒虫、还发现了从未见过的野兽物种、秘法文献、各种机关等，虽然探索苏美尔墓葬群的工作危险异常，但也产生了无数震惊学院的考古发现。</p>
							<p>最让院长威廉着迷的发现是在苏美尔人的文献中记载着通过获取“内在之眼”提升人类的思考层次的方法，通过此方法可以达到“神”级别的思考，获得超越人类的异域知识，实现人类的进化。</p>
							<p>记载中，“内在之眼”存在于人脑内，“内在之眼”的数量越多，则思考的层次就越高，这让学院为之着迷。
	</p>
							<p>在发现的许多苏美尔人**的脑内，确实发现了一些独特的生物结构，推测为“内在之眼”存在的痕迹，但没有进一步的发现来推进研究，威廉和学院的研究很长一段时间都停滞不前，直到一样东西的出土。</p>
							<p>伊兹大圣杯。</p>
							<p>这个古怪的事物如果不是严密封存在庞大迷宫的中心，一定会被人误认为垃圾处理掉，这个蜡一样质感、外形诡异毫无规则可言的物体，在研究室的实验中被证明是一个活性的物体，如果将人的血液盛放在其中则会向液体中释出一种微小的虫卵，这种虫卵无法在自然环境中孵化，只有浸泡在人血中才能孵化成幼虫，随之出土苏美尔人文献中记载着通过“圣餐”摄取“受到祝福的血液”，从而获取“内在之眼”的方法。</p>
							<p>院长威廉在助教劳伦斯的帮助下在自己的身上注入了这种“受到祝福的血液”，在学生的瞩目中期待实验结果。
	</p>
							<p>奇迹发生在威廉的身上，短短数天，年迈的威廉便感受到身体的变化，他的洞察力变得敏锐，仿佛有着许多眼睛在同时辅助观察，大脑也变得清晰，精神状态也快速提升，仿佛“内在之眼”已经产生了效果。学生们和助教劳伦斯都见证着院长威廉的变化，“受到祝福的血液”开始被称为“古神之血”，“内在之眼”也被正式命名为“灵视”。</p>
							<p>威廉还发现，持续的输入“古神之血”能够缓慢提升“灵视”的量级，威廉在自己身上持续地进行着提升灵视的实验，与此同时，学院内部也开始了大范围的输血实验，学院内部的志愿者通过输入经过伊兹大圣杯祝福的血液培育“灵视”，这建立了拜尔金沃斯的第一阶段实验规程：大规模采集血液--通过“圣餐”仪式培育血液--输血实验。</p>
							<p>   输血实验短时间内快速推进了拜尔金沃斯对苏美尔文明的研究进程，原本莫衷一是的秘法文献、迷宫机关随之解开，伴随着大量文献和遗迹的不断出土，学院对苏美尔人“血液和灵视”文明图景的了解也在快速展开。但很快，作为输血实验的先驱者，威廉看见了输血实验的另一面。</p>
							<p>输入古神之血的研究者，会表现出对输血的依赖，从第一次输血开始便无法忘却注入血液的快感，而长时间输入古神之血，灵视的级别提高后，会经常因为大脑无法承受过多的信息而陷入疯狂，随着拜尔金沃斯输血的学员越来越多，时间见涨，为了解决学员因为灵视提高而狂暴的问题，学者研发出了将人血浓缩而成的镇静剂，而这种浓稠的人血药品会令使用者产生更强的依赖。威廉身上的情况则更加离奇，威廉作为学院院长，冷静睿智的他虽然作为输血实验的领导者，所受的影响并没有太多，但威廉却发现从他的泪腺中开始出现一些微小的寄生虫个体，随后威廉的额头上竟然长出了数个蠕动的眼球。</p>
							<p>威廉发现，人类提升灵视并不是无限的，超过一定的限度之后，以人类的大脑就会无法承受巨大的信息量从而引发狂暴，即便能够通过镇静剂控制精神，溢出的“灵视”也会以多余眼球的形式表现在人体上。</p>
							<p> 某一天，拜尔金沃斯爆发了第一件因为输血致人死亡的案件，这名学员违背学院规定，长期输入巨量的古神之血导致狂暴自杀，威廉秘密组织了对这名学员的解剖，这名学员的头部已经长满了复眼，整个人有如一只人身的苍蝇，在艰难的解剖后，威廉终于看见了“内在之眼”的真面目--寄生于人脑的珍珠蛞蝓。</p>
							<p> 这种发光的寄生虫通过血液输入人体后在大脑中筑巢，成熟的珍珠蛞蝓长出触须，通过触须感知外界，再将信息传递到联结的大脑，这便是“灵视”的真面目，这名学员因为短期内注入了太多蛞蝓幼虫，还未等蛞蝓成熟，多余的蛞蝓便涌出头颅长成眼睛，只有极少量的蛞蝓成熟成为灵视，而这名学员即便死亡后，脑内的成熟蛞蝓依然存活着，分离后的观察表明，这种成熟的蛞蝓可能永远存活下去，而且可以被直接注入人体来快速提升灵视。</p>
							<p>威廉给自己戴上了硕大的帽子来遮蔽这几个丑陋的眼球，帽子上的面具甚至遮蔽了他原来的双眼，因为他已经不再需要这双肉眼，脑中的蛞蝓会告诉他外界的一切。警醒的威廉随即下令终止学院内的一切输血实验，这在学院内引起了巨大的震动，主张继续进行输血实验的劳伦斯和许多已经成瘾的学员掀起了一场抗议活动。
	</p>
							<p>当前以劳伦斯为首的墓地勘探队仍然持续地在出土新的资料，新的资料显示，人类并非完全无可能驾驭大量的灵视，只是需要一种文献中称为“眼之索”的中间结构，威廉不应当因为阶段性的副作用而强制中断所有实验，这场运动将拜尔金沃斯第一次分成了两个派别。</p>
							<p>威廉在拜尔金沃斯发起了一次公开演讲，在演讲中威廉公开了他研究报告：</p>
							<p> “眼之索”，在记载中被称为“第三脐带”，在苏美尔文献中，“第三脐带”是古神出生时携带的结构，初生的古神共有三根脐带，第一根联结神与母亲的肉体，第二根联结神的意志与宇宙，第三根联结神的大脑与灵视，其中第三脐带可以起到联结大脑与内在之眼的作用，故被称为“眼之索”，是人类驾驭大量灵视的唯一方式，这第三根脐带只有杀死初生的古神才能获得，这对于当下的人类而言完全是天方夜谭，我们的眼界还未曾开放，请畏惧古神之血。</p>
							<p>语毕的威廉向学员摘下了他的帽子，同时向学员展示了被解剖的学员尸体，惊恐的拜尔金沃斯学员终于终止了输血实验，“畏惧古神之血”，成为了拜尔金沃斯的校训。</p>
						</span>
							<span class="index-story-chapter">
								<img src="../image/story/02.jpg" alt="bloodborne" />
								<h2 class='theTitle'>第二章：苍白之血</h2>
								<p> 拜尔金沃斯已经全面禁止了输血研究，但对苏美尔古墓群的研究仍然在继续，悲哀的是，古神之血虽然在学院内被禁用，伊兹大圣杯也被封存，但大量成瘾的学员仍然在私自制作血液，方法是：从已经输入血液的学员体内抽取。</p>
								<p>这源自在实验研究中发现的一个有趣的现象，珍珠蛞蝓在某些特定群体的实验对象的血液中的存活状态明显高于另一群，甚至能够在这些“优质”实验对象的血液中自行增殖。拜尔金沃斯的技术条件还无法探明这些人的身体究竟和普通人有何种区别，只能推测可能是因为这些人的血统更加接近古代苏美尔人，甚至于更接近“古神”。
	</p>
								<p> 禁止输血实验的学院中充斥着血液的地下交易，成瘾的学员们只能通过这些“优质”的血液提供者获取这种更接近于“古神之血”的“优质血液”，而且因为地下交易的产生，许多亚楠的居民也参与到血液交易中，有的成为血液提供者，或者成为四处采血的商人，而更多的则是因为输入血液而成为血液成瘾的患者。</p>
								<p>劳伦斯的墓穴探索不断地出土着新的发现，在原有的苏美尔“伊兹”墓葬群周围又发现了一片名为“罗伦城”的新地区，这座墓葬同属于苏美尔文明的后期城市，但似乎因为一种叫做“兽灾”的疾病而灭亡，最终被掩埋在黄沙中。这片墓葬中同样出土了大量有关苏美尔文明的遗迹，其中最重要的莫过于名为“亚丹之血”的奇特物质，这瓶被封存的血液与伊兹圣杯一样位于罗伦城大迷宫的中心，观察发现这种血液中同样存在着类似于伊兹圣杯中的微小寄生虫，这种寄生虫形如微小的蝌蚪，靠一条尾巴在血液中游动，不同的是这种寄生虫从墓穴中发现便保持着活性，更让劳伦斯欣喜若狂的是，随之出土的文献资料指出，亚丹又名为“无形亚丹”，是一名实实在在的古神，这位神祗没有实体，仅以神血的形式存在，接受亚丹之血的人，都将受到亚丹的祝福，在正确的时机，一个受到祝福的子宫将会产下“血之子”。
	</p>
								<p> “亚丹之血”的出土意味着劳伦斯找到了一个活着的古神祗，如果按照威廉大师的推论，他只需要想办法让亚丹降世，便可以通过初生的亚丹获得梦寐以求的“第三脐带”，欣喜若狂的劳伦斯并没有将亚丹之血带回学院，他厌倦了威廉的保守，他作为学生中最优秀的人，深深感到他应当继续这个研究，他要促进人类的进化。
	</p>
								<p>劳伦斯在学院公开了他的研究，召集了一批愿意追随他的学员向威廉大师道别。</p>
								<p>年迈的威廉知道，捡到古神的劳伦斯也必将背叛他，威廉向劳伦斯重申了：“畏惧古神之血”后，劳伦斯也离去。
	</p>
								<p> 劳伦斯带着“亚丹之血”和一众学者离开拜尔金沃斯后继续着对“亚丹之血”的研究，劳伦斯发现“亚丹之血”和伊兹圣杯的血液不同，它不会产生灵视，而且同样只能在少数特殊的血液中繁殖存活，但不同的是“亚丹之血”能够提升人类的血液功能，让患上疾病的人恢复健康，让身体羸弱的人变得强壮，劳伦斯和一众学者以此为据创办了名为“治愈教会”的组织，治愈教会向亚楠推出了一种名为“血疗”的技术，这种技术通过输入亚丹之血来选拔能够孕育亚丹之子的"血之圣徒”，通过圣徒大量产出的“受到祝福的血液”，然后经由输血向公众推广“血疗”。</p>
								<p> 血疗的产生顿时让亚楠这座无人问津的小镇声名远扬，通过输入被神祝福的血液来治愈疾病成为了这座小镇独特的医疗方式，无数久病不愈的患者慕名而来，乞求通过神迹挽救自己的生命。
	</p>
								<p> 亚楠产生了飞速的变化，小镇的一切都开始变得和血液有关，采血器，输血诊所，甚至出现了血鸡尾酒这种疯狂的衍生产品。旧城区的上方快速扩建的教会镇、亚丹教堂，城市因为血疗而快速发展，而掌握着血疗技术关键的治愈教会则成为了亚楠的新主宰。</p>
								<p> 劳伦斯作为治愈教会的第一任主教，自己也注入了亚丹之血，为了寻找让亚丹降生的方法而日夜沉浸在对罗伦城古墓的挖掘中，但与劳伦斯期望的不同，血疗并没有带来长久的福音。
	</p>
								<p>血疗的对象确实在短期内获得了肉体上的升华，但同时和在拜尔金沃斯的输血实验一样，导致了对象严重的血液依赖，并且产生了一种比狂暴更可怕的疾病：败血疾。这种疾病一开始体现为呼吸系统和肌肉系统的病变，咳嗽、肺部坏死、肌肉坏死，随着病情的恶化，患者的神经系统被破坏，退化成嗜血的怪兽，依靠着残缺不全的肢体四处游荡攻击人类摄取血液，这种病症最后被称为“兽化病”，亚楠一时间变成了怪兽横行之地。</p>
								<p>为了应对不断出现的兽患，亚楠出现了一种新职业：“猎人”，猎人通过制作专业的武器、防具、枪械来猎杀怪兽，这种技术是由名为“格曼”的人创造的，这名亚楠本地青年与拜尔金沃斯的助教劳伦斯是发小，他手持着一把巨大而锋利的镰刀，这把镰刀使用一块名为“蓝英石”的陨铁打造，这块陨铁是劳伦斯从拜尔金沃斯学院带出的东西之一，出土自伊兹墓葬群，陨铁坚硬无比，自身就带有秘法的力量，挥舞时刀刃划破空气发出尖锐的嘶鸣，把怪兽瞬间切割成为碎片。</p>
								<p>青年格曼以敏捷的身手著称，引领了第一批亚楠人成为猎人，建立了第一个敏捷型猎人工坊，随后出现了以机械武器和重火器著称的火药桶帮，以及怪诞的阿契巴德电气流派等不同的流派，猎人成为了亚楠的新兴力量，每到满月时亚楠便迎来“猎杀之夜”，居民们闭门不出，猎人们趁夜色出动，扫除城市中的怪兽。</p>
								<p>沉溺在墓地中的劳伦斯终于迎来了他的命运，名为“依呼尔”的苏美尔首都墓葬被发现，随之出土的文献终于揭示了古神降生的最后一个秘密：“红月低垂时，受到祝福的子宫将会诞下神子。”</p>
								<p>红月，在苏美尔文献中也被称为“苍白之血”或者“黯淡之血”，描述红月降临时青灰色的天空犹如被抽干了血的尸体，召唤红月的仪式需要由纯正苏美尔血统的女性着白色婚礼服与古神缔结婚约，当红月降临时，这名女性的子宫便会怀上神子。
	</p>
								<p>劳伦斯需要一名古苏美尔血统的女性来召唤红月。也许早在拜尔金沃斯时就发现的“优质”实验对象以及治愈教会的血之圣徒们或多或少身带苏美尔血统，但没有人知道，纯正古苏美尔人血统到底存在于何方，研究再一次陷入僵局。</p>
								<p>伊兹圣杯引发了狂暴症，亚丹之血引发了兽化症，二者都没有为劳伦斯打开进化的大门，此时距离拜尔金沃斯发现伊兹圣杯已过去了数年，虽然劳伦斯只有二十多岁，但已经开始出现败血疾症状的劳伦斯略显憔悴，亚楠这片土地也随着兽灾的不断扩大而陷入火海，劳伦斯深感自己与“进化”的梦想已经越来越远，此刻的治愈教会也因为兽灾的蔓延而遭受质疑，劳伦斯暂时停止了对于神子的追寻，他令手下最虔诚的神职人员组织了教会猎人群体，猎人团的首领名为路德维希，是劳伦斯手下最为前程的骑士，因探索迷宫极为凶险，治愈教会很早就配备了十分强大的武装，随着兽灾的扩散，即便不参加狩猎的教会，其武装力量也在不断增长，随着教会猎人团体的建立，这个团体衍生出了自己的武装流派，以圣剑、石锤和迷迭香为代表的教会猎人出现在亚楠的街头。</p>
								<p> 路德维希引领的教会猎人团以神职医生的面貌出现在亚楠，通常由身着白色服装的医生在白天对病患进行帮助和治疗，但病患时常在夜晚便化作了怪兽，此时则由身着黑色服装的医生对病患进行“根除性治疗”，白天治疗，夜晚**，白色与黑色的交替一时间成了亚楠最为疯狂的一道风景。</p>
								<p>浸泡在血液中的亚楠，白天沉醉于血疗的快感，夜晚淹没于怪兽的嘶鸣，劳伦斯眼中的希望仿佛渐渐暗淡，直到一条消息传来。</p>
							</span>
							<span class="index-story-chapter">
								<img src="../image/story/03.jpg" alt="bloodborne" />
								<h2 class='theTitle'>第三章：诅咒你们，直到子孙的子孙。</h2>
								<p>随着兽灾的不断扩散，亚楠的街头已一片狼藉。</p>
								<p>猎人、神职人员进行着疯狂的杀戮以期挽救这座城市。</p>
								<p>被进化拒之门外的劳伦斯只能拖着日渐虚弱的身体，组织着对抗兽灾的狩猎行动。</p>
								<p>一开始，狩猎行动相当程度上地缓解了兽化病的爆发，一大批优秀的猎人、神职人员涌现在亚楠。</p>
								<p> 路德维希作为神职猎人的领袖，统领着众多信仰虔诚的神职人员，他们手持银剑，曾被称为“圣剑猎人”，路德维希本人则使用着一把象征着“神迹”的武器——月光圣剑。</p>
								<p>这把由纯净的蓝英石铸造的大剑出土自伊兹墓葬群，由治愈教会研究队伍发掘而出，其高度提纯的蓝英石剑身蕴含着巨大的秘法能量，轻轻摩擦剑身，圣剑显现出深邃的光芒，犹如寒冷的月光。相传在探索伊兹迷宫的旅途中，路德维希独自陷入了漆黑的密道，绝望的路德维希在一片漆黑中看到了一缕幽蓝的光芒，通过这道光芒路德维希找到了月光圣剑，虔诚的路德维希将之视为“神圣的引导”，指引着他即便在最黑暗的时刻也要寻找光明的意志。</p>
								<p>洛加留斯是劳伦斯手下的另一名优秀的神职人员，本身是教会武装护卫队的头领，这支队伍在教会猎人团建立之前就担负着护卫教会组织的任务，教会猎人团的许多服装都是以洛加留斯的护卫服装为原型改制而成，长期承担武力职责的洛加留斯护卫队以沉重的披挂服装著称，成员多使用一种名为“教会石锤”的武器，擅长以巨大的力量产生冲击力，摧毁怪兽，而洛加留斯本人则使用一种更为古怪的武器——洛加留斯转轮。这把武器用两个巨大的马车轮改装而成，相传教会尚未研制武器时便遭遇过怪兽，洛加留斯用损坏的马车轮作为武器将怪兽碾碎，这成为了教会护卫队的开端。</p>
								<p>相比于神职人员，亚楠人组织的猎人队伍阵容就更为丰富，以格曼为师的猎人多使用以格曼的镰刀为原型的猎人弯刀，采取高速机动的方式迂回作战。随着大量亚楠人的加入，猎人武器的形制快速丰富，除了出现高效率解决兽患的锯齿武器之外还产生了诸如“快感”“优雅”“美学”等附加设计要素，例如善用机械结构武器的火药桶帮，使用打桩机、爆炸锤、加农炮、加特林机枪等极为复杂且不实用的武器追求破坏力快感。通常只承担巡逻任务的上流社会则认为猎杀太过血腥、粗鲁，于是研发出了螺纹手杖这种同时具备优雅和实用性的武器，而民间猎人武器中最为古怪的莫过于“电流怪人阿契巴德”。</p>
								<p>亚楠城有两个城区，一个是早期的下城区，大多是平民，另一个则是在血疗出现后在高地上扩建的上城区，包括亚楠中心及教会镇。因为环境条件的恶劣，下城区的兽灾情况十分严峻，在下城区的狩猎中曾经出现了一只奇特的怪兽，名为“黑暗怪兽帕阿尔”，这只怪兽形如长满了毛发的骷髅，毛发间相互摩擦产生巨大的电流，放出幽蓝的电光。早期的猎人因为兽灾的认识浅薄常存在一些迷信，例如认为特定的金属例如黄铜能够抵御兽血的侵蚀，喜欢用黄铜装饰服装，或认为兽血通过右腿侵入人体，而在右腿上捆绑绷带。用黄铜装饰的猎人服装对黑暗怪兽的电流毫无抵抗力，最后由猎人亨里克和阿契巴德共同将其关进了下城区的一处空地。阿契巴德是一名古怪的科学家，依靠治愈教会建立了自己的研究所,研究机械与电流，曾与火药桶帮有交流，猎人亨里克在阿契巴德的指导下制作了不含金属、高度绝缘的独特黄色服装，才得以对付黑暗怪兽。从此亨里克以黄色服装而闻名，而阿契巴德则深深迷恋上了黑暗怪兽，一心要复制出黑暗怪兽的电力能量，先后发明了雷纸、雷霆和小型雷霆，但这些武器因为结构过于精密很难使用，所以并不受欢迎。</p>
								<p>除了神职人员和猎人，亚楠的狩猎行动中还涌现出了一个新面貌——该隐赫斯特族。</p>
								<p>该隐赫斯特族的传说一直都流传在亚楠，站在教会镇高处向海望去，在亚楠海湾的方向有一座建立在岛屿上的城堡，被称为该隐赫斯特城堡，城堡与亚楠高地只有一座大桥相连，大门一直处于封闭状态，只有为数不多的人在城堡中过着与世隔绝的生活，极少与外界沟通，自诩为高贵血脉的该隐赫斯特人也从不与外界通婚，直到兽灾爆发之前，亚楠人几乎没有见过该隐赫斯特人，城堡的故事只存在于孩子的睡前故事里。</p>
								<p>兽灾的爆发让与世隔绝的该隐赫斯特人突然出现在亚楠人面前，精致而复古的服饰和武器让亚楠最富有的商人都为之惊叹，举止优雅、皮肤白皙、银白色的头发和红色的眼眸，处处彰显着于亚楠人的不同。这支由数人组成的该隐赫斯特队伍为似乎寻求一种奇特的血液而来到亚楠，对于已经被称为“血疗之乡”的亚楠而言并不是什么值得注意的说法，而后因为亚楠兽灾的蔓延而加入了狩猎。</p>
								<p>该隐赫斯特人使用的武器十分奇特，都通过血液发挥力量，这与该隐赫斯特人的特殊能力有关，在战斗中该隐赫斯特人能够自然恢复生命力，而诸如“千荫”这样的武器都是基于这一特性而设计的武器，刀身细密的花纹吸取使用者的血液发挥强大的威力，与此类似的还有依赖血液的伊芙琳和糅合了火器的骑士剑。使用千荫、伊芙琳和骑士刺剑的该隐赫斯特猎人既怀旧又浮夸，喜欢在本地女性面前炫耀狩猎的战绩，十分招人厌烦，但有一个人除外。</p>
								<p>玛利亚作为该隐赫斯特人，身上并没有那些招惹亚楠人讨厌的特点，美貌的玛利亚如同一位洁白的天使，热衷于帮助弱者，玛利亚的武器“落叶”虽然也是产自该隐赫斯特，但并不使用血液之力，玛利亚成为了亚楠和猎人们心目中在这狩猎之夜中的一缕温和的光芒，同时，在狩猎中玛利亚也邂逅了第一猎人格曼。</p>
								<p>青年英俊的格曼手持“送葬之刃”战斗的身姿俘获了玛利亚的心，仰慕着格曼的玛利亚加入了猎人工坊，格曼传授玛利亚独特的回避技巧，而玛利亚则帮助格曼进行狩猎工作。</p>
								<p>由猎人工坊、教会猎人团和少数该隐赫斯特人组成的狩猎队伍在兽灾的蔓延中维持着亚楠的秩序，直到劳伦斯收到了这条密信。</p>
								<p> “科斯将产下神子。”</p>
								<p>早在拜尔金沃斯研究的初期，院长威廉就成立了野外研究队伍，因为按照墓葬中关于古神的描述，世间应当存在许多古神，这些古神应当留下了许多不同的宗教和传说，这支研究队伍在各地调查有关古神的传说，以期发现有关古神的线索。</p>
								<p>研究队在亚楠周边的海湾中发现了一个小渔村，这座村落的居民信奉一位名为“科斯”的神明，当地人通过供奉科斯和以祈求出海的平安和捕捞的丰收。奇特的是，研究者发现当地的居民确实在某种仪式后长出了脚蹼、背鳍和腮等结构，这表明这个村落确实存在着某种形式的“神迹”。拜尔金沃斯的学者在渔村进行了长时间的观察。</p>
								<p>渔村有养殖蛞蝓的习俗，居民认为蛞蝓是科斯大神的使者，在渔村的山洞中，养殖着大量的蛞蝓，当地居民通过吞食蛞蝓来获得科斯大神的祝福。在渔村村民的描述中，“科斯”，又被称为“科斯姆”，是居住在深海的神明，而在他们的神话中，海洋与宇宙相连，大神科斯从不显露自己的面目，只通过蛞蝓传达神谕和祝福，有一些蛞蝓会长出人形的上半身，被认为是科斯大神的眷属。</p>
								<p>在苏美尔人的记载中，古神都是独一无二的存在，绝大多数古神都无法诞育子嗣，都期望通过红月的仪式，藉由人类的子宫来诞下神子，但科斯大神不同，科斯大神也被渔村居民们称为“母神科斯”，可以通过自己的子宫诞下神子，褪去陈旧的身躯，进入新的童年，科斯大神诞育神子的时刻，渔村居民和大神的眷属都会**在渔村的海滩前膜拜新的神祗诞生。</p>
								<p>就在劳伦斯对神祗的踪影一筹莫展时，渔村消息的传来重新点燃了他，劳伦斯马上集结了治愈教会的武装力量准备进攻渔村，在劳伦斯的动员下，格曼及猎人工坊也一同加入了对渔村的“勘察”行动，名为肃清渔村兽患，实则夺取科斯的神子。</p>
								<p>数百名教会猎人和工坊猎人伪装成拜尔金沃斯的学者进入了渔村，意图进入海滩的猎人遭到了渔村居民的拒绝致使身份败露，猎人们遭到了愤怒渔村居民的攻击，随后则是教会和猎人对渔村居民进行的杀戮。</p>
								<p> 眼睛放着红光，挥舞着巨大的刀刃的猎人们在暴风雨中咆哮，渔村一夜之间被血液浸透，假扮成流浪者的教会探子赛门在远处目睹了这一幕。</p>
								<p>“猎人与野兽，原本并没有什么不同。”</p>
								<p> 早在亚楠狩猎习俗的初期就出现了这样的问题，从事猎杀活动的猎人，一开始就输入亚丹之血来强化体质，这被称为订立契约，而在长年累月的猎杀活动中，大量使用采血瓶及摄取来源不明的血液和血液制品，摄入成熟的珍珠蛞蝓补充灵视来增强洞察力，血之沉醉和异域知识充斥着猎人的身躯，许多猎人最终都丧失理智变得如同怪兽一般嗜血。</p>
								<p>距离大神科斯来到海岸的时间所剩无几，渔村的居民已经被杀戮殆尽。</p>
								<p>参与了猎杀的玛利亚本以为自己在只是在帮保护曼和猎人不受伤害，而面对演化成杀戮的调查行动，站在暴雨中的玛利亚不知所措，讨厌血的玛利亚突然发现自己已经在长久的猎杀行动中不觉然地开始对血液产生了细微的渴望，手中的“落叶”此时也汲取着血液发出嘶嘶的微鸣，伴随着双刃落地的声响，玛利亚在寂静的暴雨声中发出了这渔村的第一声恸哭。</p>
								<p>形如巨型人身蛞蝓的科斯大神静静地盘坐在海滩边缘，无数长着人面的蛞蝓生物盘踞在海滩入口的山洞前顶礼膜拜，猎人们毫不费力地清理了这些被称为“古神眷属”的黏滑生物，来到了科斯大神的面前。</p>
								<p>即将分娩的科斯大神面对着已经赤红了双眼的猎人们，发出了耀眼的秘法光芒，巨型闪电从天而降，拖着膨大的子宫，科斯大神与猎人们展开了殊死之斗，最终在艰难逃向海洋的过程中，科斯大神被猎杀。</p>
								<p>当科斯的尸体被海水冲上岸时，劳伦斯一行人终于看见了神子的面目。已经发出腐臭的科斯周身布满了寄生虫，膨大的子宫不久便蠕动起来，从子宫中艰难爬出一个生物，形如干瘪的老人，很难想象是刚出生的生命，这名科斯的“遗孤”在爬出子宫后只发出了一声啼哭便死去。</p>
								<p>科斯孤儿的遗体被带回了亚楠，在治愈教会的研究所中被解剖，治愈教会在科斯孤儿的身上获取了第一条“第三脐带”。</p>
								<p>进化之门第一次向劳伦斯张开了臂膀，虽然还未迎来进化的拥抱。在最后出土的苏美尔人的文献内，通过第三脐带驾驭灵视意图跻身神位的人被称为“上位者”，上位者通过弑杀古神来完成“飞升”，要成为完整的“古神”共需要三条“第三脐带”，这也是为何古神最终都消失在世间，三进一的铁律致使人类最终将古神弑杀殆尽。</p>
								<p>“科斯的脐带”被妥善存放在研究大楼中，劳伦斯开始追寻新的古神讯息，除了获取“第三脐带”之外，治愈教会还着重研究了渔民与古神的交流方式，研究者们发现，渔村的居民在某种程度上和科斯大神达成了直接的联系，这种联系方式起初推测与伊兹圣杯的脑中蛞蝓相同，但在对大量渔村居民头颅的粗暴解剖后发现，这种联系他们在感染科斯寄生虫后脑中积留的一种液体有关。</p>
								<p>劳伦斯希望通过复制这种联系来召唤古神，新的研究在治愈教会展开，大量因为患病来到治愈教会寻求治疗的患者被注入科斯寄生虫来培养脑液。</p>
								<p>产生脑液的患者头颅不断肿大，只能通过不断地进行开颅释压来维持生命，很快患者的身体就会因为过度消耗而虚弱致死，但诸如艾德琳这样的血之圣徒也不意外地表现出优秀的实验结果。</p>
								<p>艾德琳是早期进入治愈教会的教徒之一，因为优秀的血液品质而被选为血之圣徒，在脑液研究开始后自愿地加入了实验，用艾德琳的话说，她在黑暗中听见了海水的低语，于珍珠蛞蝓类似，在死亡病患脑中提取的脑液可以直接被注入艾德琳这样优秀的实验对象的身体中，尽管大多数病人都因为头颅充血而虚弱地死去，教会的地下渠道已经堆满了尸体，但艾德琳的实验结果却让教会充满信心，能够与古神沟通的使者终归会出现。</p>
								<p>玛利亚在渔村的猎杀后陷入了失落，她将自己心爱的“落叶”投入了渔村的暗井，随后在治愈教会中照顾起病患。</p>
								<p>充满血腥和恶臭的治愈教会研究大厅中，病患总在呼唤着玛利亚的名字。</p>
								<p>“玛利亚女士，请握住我的手。”</p>
								<p>“玛利亚女士，请不要离开。”</p>
								<p> “玛利亚女士，我好痛苦，杀了我。”</p>
								<p>玛利亚在教会的天台上种满了星轮草，这是一种仰望星空的花卉，她把阳台的钥匙留给了艾德琳，她希望窗外带着花香的微风能够抚慰艾德琳的心，但艾德琳只沉浸在对神迹和脑液的渴望中，无法领会她的用心。</p>
								<p>科斯孤儿的遗体在解剖完成后被安置在治愈教会顶层星辰钟塔的前面，玛利亚在棺盖上方放置了一朵星轮草，许久以后，在渔村悬崖的边缘，玛利亚为科斯也树了一座墓碑，墓碑前同样放着星轮草的花朵。</p>
								<p>脑液实验的第一批失败作没有完成召唤古神的使命，但与之已经相当接近，拥有召唤宇宙力量的四个失败作品被安置在种满星轮草的明树花园，失去意识的四个对象在花园中毫无目的地徘徊着，只需要再来一次，劳伦斯就能够触及古神的领域，尽管城中已经因为一个谣言的散布而人心惶惶。</p>
								<p>不止一人说在夜空中听见了无名女性的诅咒：</p>
								<p>诅咒那些恶魔，以及他们的子孙，直到子孙的子孙，至永至真。</p>
							</span>
							<!--<span class="index-story-chapter">未完待续...</span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>
							<span class="index-story-chapter"></span>-->
						</div>					
						<a href="javascript:void(0)" class="index-story-loadall"><i class="iconfont"></i>点击查看全部<i class="iconfont"></i></a>
						<div>							
							<a href="javascript:void(0)" class="index-story-before" >上一章</a>
							<a href="javascript:void(0)" class="index-story-after">下一章</a>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<script src="../js/main.js"></script>
	</body>
</html>