body{
	background-image: url(../image/oldhunters2k_2.jpg) ;
	background-attachment: fixed;
}
@font-face {
  font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icon/iconfont.woff') format('woff'),
  url('../icon/iconfont.ttf') format('truetype'),
  url('../icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.index{
	width:60rem;
	background: rgba(0,0,0,0.7);
	margin: 0 auto;
	color:#fff;
}
.banner{
	width:60rem;
	height:11.25rem;
	position: fixed;
	top:0;
	z-index: 2;	
}
.instruction,.index-sowing-img,.index-sowing-img img, .index-nav,.index-story{
	width:50rem;
	margin:0 auto;
	margin-top:1rem;
	line-height: 1.5rem;
}
.index-main{
	margin-top:11.25rem ;
}
.index-main .instruction span{
	display: inline-block;
	margin-top: 1rem ;
	text-align: left;
	text-indent: 2rem;
}
.index-sowing-img{
	text-indent: 0;
	overflow: hidden;
	position:relative;
}
.index-sowing-img a{
	display: inline-block;
	width:4rem;
	height:4rem;
	background:#000000;
	opacity:0.5;
	text-align: center;
	position:absolute;
	margin-top:25%;
	border-radius: 2rem;
	z-index: 1;
}
.index-sowing-img a:hover{
	cursor: pointer;
	background: #999;
	color:#333;
}
.index-sowing-img a:active{
	background: #333;
	color:#999;
}
.index-sowing-img a i{
	display:block;
	border-radius: 2rem;
	font-size:3rem;
	line-height: 4rem;
}
.index-sowing-img .sowing-left{
	left:2rem
}
.index-sowing-img .sowing-left i:before{
	content:"\eb0a"
}
.index-sowing-img .sowing-right i:before{
	content:"\eb09"
}
.index-sowing-img .sowing-right{
	right:2rem
}
.index-sowing-img ul{
	width:600%;
	transform:translateX(-16.66%);
}
.index-sowing-img ul li{
	width:100%;
	display: table-cell;
}
.index-sowing-img img{
	margin-top:0;
}
.index-nav ul{
	width:100%;
	text-indent: 0;
	display: table;
}
.index-nav li{
	width:25%;
	line-height: 3rem;
	text-align: center;
	font-size:1.5rem;
	display: table-cell;
}
.index-nav li a{
	width:100%;
	display: inline-block;
	color:#fff;
	background:#000000;
	border:1px solid #fff
}
.index-nav li a:hover{
	background: #ccc;
}
.index-story{
	text-indent: 0;
}
.index-story h2{
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
}
.index-story p{
	text-indent: 2rem;
}
.index-story p+p{
	margin-top: 1rem;
}
.index-story img{
	width:100%
}
.index-story .index-story-chapters{
	width:50rem;
	display: inline-block;
	text-indent: 0;
	overflow: hidden;
}
.index-story .index-story-chapters .index-story-nav{
	width: 100%;
	line-height: 1.6rem;
	background: #000;
	color: #fff;
	margin-bottom: 1rem;
	position: relative;
}
.index-story-nav .index-story-title{
	display: block;
	border: 1px solid #fff;
	padding-left: 1rem;
	position: relative;
	background: RGBA(0,0,0,0.5);
}
.index-story-nav .index-story-title i{	
	position: absolute;
	right: 1rem
}
.index-story-nav .index-story-title i:before{
	content:'\e600'
}
.index-story-titleList {
	width: 100%;
	/*height: 0;*/
	border: 1px solid #fff;
	background: RGBA(0,0,0,0.5);
	position: absolute;
	display: none;
}
.index-story-nav .titleList-state{
	display:block;
}
.index-story-titleList span{
	display: block;
	padding-left:1rem
}
.index-story-titleList span:hover{
	cursor:pointer
}
.index-story-titleList .chapter-focus{
	background:#ccc;
	color:#333
}
.index-story-chapters  .index-story-article{
	width:1400%;
	display:table;
	margin-left: 0%;
}
.index-story-chapters .index-story-article span{
	width:799px;
	height:1000px;
	border:1px solid #fff;
	display:inline-block;
	padding:5px;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
}
.index-story-chapters .index-story-article span+span{
	margin-left:1.4px
}
.index-story-chapters a{
	color:#fff
}
.index-story-chapters .index-story-before, .index-story-chapters .index-story-after{
	display:inline-block;
	width:10rem;
	line-height:2rem;
	border:1px solid #fff;
	text-align: center;
	margin-top:0.15rem;
}
.index-story-chapters .index-story-article, .index-story-chapters .index-story-article .index-story-move{
	transition: all 1s;
}
.index-story-loadall{
	width:100%;
	border: 1px solid #fff;
	display: block;
	text-align: center;
	line-height: 2rem;
	margin-top:0.1rem
}
.index-story-loadall i:before{
	content:"\e606"
}
.index-story-loadall:hover,.index-story-before:hover,.index-story-after:hover{
	background: #999;
	color:#333;
}

