.index-monster h1{
	font-size: 2rem;
	text-align:center;
	line-height: 4rem;
}
.index-monster .monster-info{
	width:30%;
	height:315px;
	display:inline-block;
	margin-left:1.4rem;
	margin-top:1.4rem;
	position:relative;
	transform-style: preserve-3d;
	transform:rotateX(0deg) rotateY(0deg);
	transition: all 1s;
}
.monster-info div{
	width: 288px;
	height:315px;
	position:absolute;
}
.monster-info div img{
	width:288px;
}
.right{
	background:#484540;
	transform:rotateY(90deg) translateZ(143.5px)
}
.before{
	transform:translateZ(143.5px)
}
.index-monster  .monster-run{
	transform:rotateX(0deg) rotateY(-90deg);
}
