body{
	background-image: url(../image/oldhunters2k_2.jpg) ;
	background-attachment: fixed;
}
.index{
	width:60rem;
	background: rgba(0,0,0,0.7);
	margin: 0 auto;
	color:#fff;
}
.banner{
	width:60rem;
	height:11.25rem;
	position: fixed;
	top:0;
	z-index: 2;	
}
.index-main{
	margin-top:11.25rem ;
}
.index-nav ul{
	width:100%;
	text-indent: 0;
	display: table;
}
.index-nav li{
	width:25%;
	line-height: 3rem;
	text-align: center;
	font-size:1.5rem;
	display: table-cell;
}
.index-nav li a{
	width:100%;
	display: inline-block;
	color:#fff;
	background:#000000;
	border:1px solid #fff
}
.index-nav li a:hover{
	background: #ccc;
}

